/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
  --custom-hotbar-core-height: 52px;
  --custom-hotbar-core-width: 578px;
  --custom-hotbar-core-macro-size: 50px;  

  --custom-hotbar-core-primaryColor: #00000080;
  --custom-hotbar-core-border-color: #000000ff;
  --custom-hotbar-core-x-pos: 220;
  --custom-hotbar-core-y-pos: 63;
  --custom-hotbar-core-border-color-active: #ff6400ff;
  --custom-hotbar-core-border-color-inactive: #939799ff;  
}
/* ---------------------------------------- */
/*  Hotbar                                  */
/* ---------------------------------------- */
#hotbar {
  z-index: calc(var(--z-index-ui) + 9);
  height: var(--hotbar-chb-height);
  pointer-events: none;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  position:absolute;
  bottom: var(--custom-hotbar-core-x-pos);  
  left: var(--custom-hotbar-core-y-pos);
}
#hotbar .bar-controls {
  flex: 0 0 32px;
  height: 100%;
  margin: 0 2px;
  text-align: center;
  color: var(--color-text-light-heading);
  background: var(--custom-hotbar-core--primaryColor);
  border: 1px solid var(--custom-hotbar-core-border-color);
  box-shadow: 0 0 3px #444 inset;
  border-radius: 3px;
}
#hotbar .bar-controls a {
  display: block;
}
#hotbar .bar-controls a.page-control {
  font-size: 1.5em;
  line-height: 12px;
}
#hotbar .bar-controls span.page-number {
  display: block;
  font-size: var(--font-size-20);
  line-height: 8px;
}
#hotbar #action-bar {
  flex: 1;
  height: 100%;
  pointer-events: all;
  flex-wrap: nowrap;
}
#hotbar #action-bar.collapsed {
  display: none;
  pointer-events: none;
}
#hotbar #macro-list {
  flex-wrap: nowrap;
  height: 100%;
  list-style: none;
  margin: 0 2px;
  padding: 0;
  border: 1px solid var(--custom-hotbar-core-border-color);
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(10, var(--custom-hotbar-core-macro-size));
}
#hotbar .macro {
  position: relative;
  width: var(--custom-hotbar-core-macro-size);
  height: var(--custom-hotbar-core-macro-size);
  border: 1px solid var(--custom-hotbar-core-border-color);
  border-radius: 2px;
  background: var(--custom-hotbar-core-primaryColor);;
  box-shadow: 0 0 5px var(--color-shadow-dark) inset;
  cursor: pointer;
}
#hotbar .macro.inactive {
  box-shadow: 0 0 5px #444 inset;
}
#hotbar .macro:hover {
  box-shadow: 0 0 10px var(--custom-hotbar-core-border-color-inactive) inset;
}
#hotbar .macro.active:hover {
  border: 1px solid var(--custom-hotbar-core-border-color-active);
}
#hotbar .macro .macro-key {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px 3px;
  background: #111;
  color: var(--color-text-light-highlight);
  font-weight: bold;
  pointer-events: none;
}
#hotbar .macro .macro-icon {
  object-fit: cover;
  object-position: 50% 0;
  border: none;
  height: calc(var(--custom-hotbar-core-macro-size) - 2px);
  width: calc(var(--custom-hotbar-core-macro-size) - 2px);
}
#hotbar .macro .tooltip {
  display: block;
  min-width: 148px;
  height: 26px;
  padding: 2px 4px;
  position: absolute;
  top: -32px;
  left: -50px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid var(--color-border-dark-primary);
  border-radius: 3px;
  color: var(--color-text-light-highlight);
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  word-break: break-all;
}
#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls {
  pointer-events: all;
  z-index: calc(var(--z-index-ui) + 9);
}
#hotbar #hotbar-directory-controls a {
  line-height: 24px;
}


/* with apologies to sdenec, lifted from Tidy UI Settings module, which you should install... 
#client-settings .chb-setting label,
#client-settings .chb-setting > label {
flex-grow: unset;
flex-basis: unset;
flex: 1 1 100%;
line-height: 1.2;
margin: 0 0 .25rem calc(13px + 1rem);
order: -1;
} */


/*
div.chbSettings div.colorsplash .layout_default.picker_wrapper{
  margin-bottom: 26px;
}


div#client-settings .chb-setting label {
  padding-top: 8px;
}

/* Settings Menu 
div#hotbar-settings-form div.colorsplash input.expanded {
  opacity:0;
}

div#hotbar-flags-form div.colorsplash input.expanded {
  opacity:0;
}

div#core-hotbar-settings-form div.colorsplash input.expanded {
  opacity:0;
}

div#core-hotbar-flags-form div.colorsplash input.expanded {
  opacity:0;
}
*/

/* hide extra button on color picker selection */


/* In Settings Menu, Make H1 and H2 less ridonkulous
div#hotbar-settings-form h1 {
  font-size:x-large;
}

div#hotbar-settings-form h2 {
  font-size:large;
} */





/* ---------------------------------------- */
/*  Media                                   */
/* ---------------------------------------- */
@media (max-width: 1120px) {
  #hotbar {
    width: calc(var(--hotbar-width) / 2);
    height: calc(var(--hotbar-height) * 2);
  }

  #hotbar #macro-list {
    grid-template-columns: repeat(5, 50px);
  }

  #hotbar .bar-controls {
    justify-content: space-between;
  }

  #hotbar .bar-controls a {
    flex: 0;
  }

  #customhotbar .bar-controls span.page-number {
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}