/*Global styles*/

#custom-hotbar {
    z-index: 69;
    position: fixed;
    bottom: 63px;
    left: 220px;
    width: 600px;
    height: 52px;
    box-sizing: border-box;
}

#custom-hotbar #custom-hotbar-directory-controls {
    pointer-events: all;
}

#custom-hotbar #custom-action-bar {
pointer-events: all;
}

#custom-hotbar .bar-controls {
    flex: 0 0 32px;
    height: 100%;
    margin: 0 2px;
    text-align: center;
    color: #c9c7b8;
    background: rgba(0, 0, 200, 0.6);
    border: 1px solid #0000ff;
    box-shadow: 0 0 3px #444 inset;
    border-radius: 3px;
}

#custom-hotbar .bar-controls a{
    display: block
}

#custom-hotbar #custom-macro-list {
    flex: 0 0 502px;
    height: 100%;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    border: 1px solid #0000ff;
    border-radius: 3px;
}

#custom-hotbar .macro {
    position: relative;
    flex: 0 0 50px;
    height: 50px;
    border: 1px solid #0000ff;
    border-radius: 3px;
    background: rgba(0, 0, 200, 0.5);
    box-shadow: 0 0 5px #000 inset;
    cursor: pointer;
}

#hotbar .macro .macro-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
}

#custom-hotbar .macro .macro-key {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1px 3px;
    background: #111;
    color: #f0f0e0;
    font-weight: bold;
}

#custom-hotbar .macro .custom-macro-key {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1px 3px;
    background: #111;
    color: #f0f0e0;
    font-weight: bold;
    font-size: 0.8em;
}

#custom-hotbar img {
    box-sizing: border-box;
    border-radius: px;
    max-width: 100%;
}

#custom-hotbar .macro.inactive {
    box-shadow: 0 0 5px #444 inset;
}

#custom-hotbar .macro:hover {
    box-shadow: 0 0 10px #ff6400 inset;
}

#custom-hotbar .macro.active:hover {
    border: 1px solid white;
}

#custom-hotbar .macro.inactive:hover {
    border: 1px solid gray;
}

#custom-hotbar .macro .tooltip {
    display: block;
    min-width: 148px;
    height: 26px;
    padding: 2px 4px;
    position: absolute;
    top: -32px;
    left: -50px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #191813;
    border-radius: 3px;
    color: #f0f0e0;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
}

#custom-hotbar .macro .tooltip:hover {
    display: none;
}

#custom-hotbar #custom-hotbar-directory-controls {
    pointer-events: all;
}

#custom-hotbar-directory-controls a#custom-macro-directory {
    display: none;
} 

#custom-hotbar-directory-controls {
    max-height: 100%
}

/* disable page controls for now */
#custom-hotbar-page-controls {
    display:none;
}

/*
#custom-hotbar .bar-controls a.page-control {
    font-size: 1.5em;
    line-height: 12px;
}

#custom-hotbar .bar-controls span.page-number {
    display: block;
    font-size: 20px;
    line-height: 8px;
}
*/

/* Settings CSS */
div.chbSettings div.formgroup {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

div.chbSettings input[is="colorpicker-input"] {
    background-color: unset;
    max-width:20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    border: black 1px;
}
div.chbSettings input[type="Number"] {
    background-color: white;
    max-width:10%;
    text-align: center;
    border: black 1px;
    float: left;
    margin-right: 0.75em;
}

div.chbSettings div.colorsplash {
    display: grid;
    place-items: center;
    background-color: blue;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: black 1px;
    border-radius: 0.5em;
}

span.custom-macro-key {
    z-index: 2;
}

/* Border around Global Settings */
div#client-settings div.chb-global {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #d3d3d380;
    padding: 4px;
}

/* Match box styling for User Settings */
div#client-settings div.chb-user {
    padding: 5px;
    padding-left: 6px;
}

/* fix boundary between two stylized settings divs */
/* Extra specficity for first box to work properly with Tidy UI styles */
div#client-settings div#chbSetDiv {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #d3d3d380;
    padding: 4px;
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

div#client-settings div#coreSetDiv {
    margin-top: 0;
    border-top: none;
}

/* with apologies to sdenec, lifted from Tidy UI Settings module, which you should install... */
#client-settings .chb-setting label,
#client-settings .chb-setting > label {
  flex-grow: unset;
  flex-basis: unset;
  flex: 1 1 100%;
  line-height: 1.2;
  margin: 0 0 .25rem calc(13px + 1rem);
  order: -1;
}

.macro .tooltip span {
    z-index: 4;
}
  
div.chbSettings div.colorsplash .layout_default.picker_wrapper{
    margin-bottom: 26px;
}


div#client-settings .chb-setting label {
    padding-top: 8px;
}

/* Settings Menu */
div#custom-hotbar-settings-form div.colorsplash input.expanded {
    opacity:0;
}

div#custom-hotbar-flags-form div.colorsplash input.expanded {
    opacity:0;
}

div#core-hotbar-settings-form div.colorsplash input.expanded {
    opacity:0;
}

div#core-hotbar-flags-form div.colorsplash input.expanded {
    opacity:0;
}


/* hide extra button on color picker selection */


/* In Settings Menu, Make H1 and H2 less ridonkulous */
div#custom-hotbar-settings-form h1 {
    font-size:x-large;
}

div#custom-hotbar-settings-form h2 {
    font-size:large;
}