<form autocomplete="off" onsubmit="event.preventDefault()">
<h1 class="module-header">Core Hotbar Modification Settings</h1>
<h2>Color Settings</h2>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.corePrimaryColor.name"}}</label>
    <input type="text" value="#ffffffff" name="corePrimaryColor" is="colorpicker-input">
    <p class="hint">{{localize "customHotbar.settings.corePrimaryColor.nameHint"}}</p>
</div>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.coreBorderColor.name"}}</label>
    <input type="text" value="#ffffffff" name="coreBorderColor" is="colorpicker-input">
    <p class="hint">{{localize "customHotbar.settings.coreBorderColor.nameHint"}}</p>
</div>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.coreBorderColorActive.name"}}</label>
    <input type="text" value="#ffffffff" name="coreBorderColorActive" is="colorpicker-input">
    <p class="hint">{{localize "customHotbar.settings.coreBorderColorActive.nameHint"}}</p>
</div>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.coreBorderColorInactive.name"}}</label>
    <input type="text" value="#ffffffff" name="coreBorderColorInactive" is="colorpicker-input">
    <p class="hint">{{localize "customHotbar.settings.coreBorderColorInactive.nameHint"}}</p>
</div>
    <h2>Position Settings</h2>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.coreXPos.name"}}</label>
    <input type="number" value="0" name="coreXPos" value="Horizontal Position:">
    <p class="hint">{{localize "customHotbar.settings.coreXPos.nameHint"}}</p>
</div>
<div class = "formgroup">
    <label>{{localize "customHotbar.settings.coreYPos.name"}}</label>
    <input type="number" value="0" name="coreYPos" value="Vertical Position:">
    <p class="hint">{{localize "customHotbar.settings.coreYPos.nameHint"}}</p>
</div>
<div class="form-group" style="margin-top: 20px;">
        <button type="button" name="reset">
            <i class="fas fa-refresh"></i> Reset to Default
        </button>
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </div> 
</form>