<form autocomplete="off" onsubmit="event.preventDefault()">
<h1 class="module-header">Custom Hotbar Settings</h1>
<h2>Color Settings</h2>
<input type="text" name="clickable" is="colorpicker-input">
<h2>Position Settings</h2>
<input type="text" name="clickable" is="colorpicker-input" id="chbPrimaryColor">
<input type="text" name="clickable" is="colorpicker-input" id="chbBorderColor">
<input type="text" name="clickable" is="colorpicker-input" id="chbBorderColorActive">
<input type="text" name="clickable" is="colorpicker-input" id="chbBorderColorInactive">
<div class="form-group" style="margin-top: 20px;">
        <button type="button" name="reset">
            <i class="fas fa-refresh"></i> Reset to Default
        </button>
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </div> 
</form>
